.container {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 50px auto;
  width: 30%;
  height: 500px;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  background-color: black;
  color: bisque;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}